.navbar {
    background-color: #FF4500; /* Fire Red Background */
}

.nav-link, .navbar-brand {
    color: #ffffff !important; /* White Text */
    font-weight: 500;
}

.nav-link:hover, .navbar-brand:hover {
    color: #FFD700 !important; /* Golden Hover Effect */
}

.navbar-toggler {
    border: none; /* Remove the border of the hamburger icon */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%281255, 255, 255, 0.8%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
